@model List<CrudOperation.Models.Employee>
@{
}

@* bootstrap css *@
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css">
@* custom css *@
<link href="~/css/custom-css/custom.css" rel="stylesheet" />


<div class="card">
    <div class="card-header">
        <a asp-controller="Employees" asp-action="Add" class="btn btn-primary">Add employee</a>
        
    </div>
    <div class="card-body">

        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Status</th>
                    <th>Created on</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="EmployeeData">
                @if (Model != null)
                {
                    var count = 0;
                    @foreach (var item in Model)
                    {
                        count += 1;
                        <tr>
                            <td>@count</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Status</td>
                            <td>@item.CreatedOn</td>
                            <td>
                                <a href="#" data="@item.Id" class="btn btn-warning" id="btnEdit">Edit</a>&nbsp;
                                <a href="#" data="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Employee details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <input type="text" hidden class="form-control" id="emp_id">

                        <div class="mb-3">
                            <label class="form-label">Name:</label>
                            <input type="text" class="form-control" id="name" required>
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Contact</label>
                            <input type="tel" class="form-control" id="phone" pattern="[789][0-9]{9}" min="10" max="10" required>
                            <div class="valid-feedback"> Looks good! </div>
                            <div class="invalid-feedback">Please enter valid contact number of 10 digits.</div>

                        </div>
                    </div>
                    <!-- Modal footer -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnUpdate">Save changes</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


@* bootstrap js *@

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
@* //custom js *@
<script src="~/js/custom-js/custom-datatable.js"></script>
<script src="~/js/custom-js/employee.js"></script>

<script>
    var CrudUrls = {

        UpdateEmployee: '@Url.Action("UpdateEmployee","Employees")',
    }
    var xa = new crudOperation();
    xa.init();
    dataTable();

</script>

